*.class
*.pyc
*.pyo
*.o
*.so
*.os
*.pyd
*.elc
*~
.*.swp
.*.swo
.*.swn
.~
.envrc
.DS_Store
.ropeproject
ID
__pycache__/
**/build/
**/dist/
/*.egg*
/MANIFEST
/README.html
/pypi-server-standalone.py
/.project
/.pydevproject
/.pytest_cache
/.tox/
**/*.egg-info/
/.standalone
/.coverage*
!/.coveragerc
/htmlcov/
/.installed.cfg
/develop-eggs/
/eggs/
/parts/
/.cache/
/.settings/
.mypy_cache/

# IDE stuff
.idea/
.vscode/

# Venvs
.venv/
venv/

