*.pyc
*.pyo
*.o
*.so
*.os
*.pyd
*.elc
*~
.*.swp
.*.swo
.*.swn
.~
.DS_Store
.ropeproject
ID
__pycache__/
/build/
/dist/
/MANIFEST
/README.html
/pypi-server-standalone.py
/.tox/
/pypiserver.egg-info/
/.standalone/
