sudo: false
language: python
python: 2.7
env:
  - TOX_ENV=py25
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py32
  - TOX_ENV=py33
  - TOX_ENV=py34
  - TOX_ENV=pypy

script:
  - python -m pip install setuptools pip -U
  - ./bin/test_standalone.sh
  - pip install tox
  - tox -e $TOX_ENV

branches:
  except:
    - standalone
