[buildout]
include-site-packages = false
exec-sitecustomize = false

parts = pypi-server
develop = .

newest = false
unzip = true
extensions =
    buildout-versions

eggs =
     pypiserver
     waitress
     passlib

versions = versions

[gunicorn]
recipe = z3c.recipe.scripts
eggs =
   gunicorn
   Paste
   PasteDeploy
   ${pypi-server:eggs}
scripts = gunicorn_paster gunicorn


[pytest]
recipe = z3c.recipe.scripts
eggs =
   pypiserver
   pytest
   webtest
   beautifulsoup4
   ${buildout:eggs}
scripts = py.test

[pypi-server]
recipe = z3c.recipe.scripts
eggs = ${buildout:eggs}
interpreter = pypipython
scripts = pypi-server

[ipython]
recipe = z3c.recipe.scripts
eggs =
   ipython
   ${buildout:eggs}
scripts = ipython


[versions]
WebTest = 1.4.3
beautifulsoup4 = 4.1.3
buildout-versions = 1.7
distribute = 0.6.34
waitress = 0.8.2
z3c.checkversions = 0.4.1
z3c.recipe.scripts = 1.0.1
zc.recipe.egg = 1.3.2

# Required by:
# WebTest==1.4.3
WebOb = 1.2.3

py = 1.4.12
pytest = 2.3.4
passlib = 1.6.1

Paste = 1.7.5.1
PasteDeploy = 1.5.0
gunicorn = 0.17.0
