[buildout]

develop = .

parts =
    pypi-server

show-picked-versions = true
newest = false

eggs =
    pypiserver
    waitress
    passlib

[gunicorn]
recipe = zc.recipe.egg
eggs =
    gunicorn
    Paste
    PasteDeploy
    ${pypi-server:eggs}
scripts =
    gunicorn_paster
    gunicorn


[pytest]
recipe = zc.recipe.egg
eggs =
    pypiserver
    pytest
    webtest
    beautifulsoup4
    ${buildout:eggs}
scripts =
    py.test

[yolk]
recipe = zc.recipe.egg
eggs =
    yolk
    ${gunicorn:eggs}
    ${pytest:eggs}

[pypi-server]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = pypipython
scripts =
    pypi-server

[ipython]
recipe = zc.recipe.egg
eggs =
    ipython
    ${buildout:eggs}
scripts =
    ipython
