include .gitignore
include MANIFEST.in
include README.rst
include conftest.py
include gen-standalone.py
include pypi-server
include pypi-server-in.py
include pypiserver/__init__.py
include pypiserver/__main__.py
include pypiserver/bottle.py
include pypiserver/core.py
include pypiserver/manage.py
include setup.cfg
include setup.py
include tests/test_app.py
include tests/test_main.py
include tox.ini
