include .gitignore
include MANIFEST.in
include README.rst
include pypi-server
include pypiserver/__init__.py
include pypiserver/__main__.py
include pypiserver/bottle.py
include pypiserver/core.py
include setup.cfg
include setup.py
